In [1]:
#Importamos las librerias 
import sqlite3
import pandas as pd

#Conectamos con la base de datos
con = sqlite3.connect("Chinook_Sqlite.sqlite")

#creamos un cursor
cursor = con.cursor()

#Creamos una funcion para ejecutar las consultas y mostrar los resultados
def ejecutar_consulta(consulta):
    df = pd.read_sql_query(consulta, con)
    return df

In [2]:
"""
Actividad 2-1 (Atención al cliente)

Trabaja con la tabla Customer.

Muestra la columna Email.
Muestra la columna FirstName.
Muestra las columnas FirstName y LastName.
Muestra las columnas Address, Phone y Fax.
Muestra todas las columnas.
"""

#Muestra la columna Email.
consulta_email = "SELECT Email From Customer;"
resultado_email = ejecutar_consulta(consulta_email)
print("Consulta 1: Columna Email")
print(resultado_email)

Consulta 1: Columna Email
                            Email
0            luisg@embraer.com.br
1           leonekohler@surfeu.de
2             ftremblay@gmail.com
3           bjorn.hansen@yahoo.no
4        frantisekw@jetbrains.com
5                 hholy@gmail.com
6          astrid.gruber@apple.at
7           daan_peeters@apple.be
8           kara.nielsen@jubii.dk
9        eduardo@woodstock.com.br
10               alero@uol.com.br
11  roberto.almeida@riotur.gov.br
12       fernadaramos4@uol.com.br
13             mphilips12@shaw.ca
14            jenniferp@rogers.ca
15             fharris@google.com
16        jacksmith@microsoft.com
17              michelleb@aol.com
18               tgoyer@apple.com
19            dmiller@comcast.com
20            kachase@hotmail.com
21             hleacock@gmail.com
22         johngordon22@yahoo.com
23             fralston@gmail.com
24             vstevens@yahoo.com
25       ricunningham@hotmail.com
26           patrick.gray@aol.com
27            jubarnett@gmail.com
28               robbrown@shaw.ca
29            edfrancis@yachoo.ca
30           marthasilk@gmail.com
31         aaronmitchell@yahoo.ca
32         ellie.sullivan@shaw.ca
33            jfernandes@yahoo.pt
34              masampaio@sapo.pt
35      hannah.schneider@yahoo.de
36           fzimmermann@yahoo.de
37            nschroder@surfeu.de
38       camille.bernard@yahoo.fr
39    dominiquelefebvre@gmail.com
40        marc.dubois@hotmail.com
41          wyatt.girard@yahoo.fr
42      isabelle_mercier@apple.fr
43      terhi.hamalainen@apple.fi
44       ladislav_kovacs@apple.hu
45           hughoreilly@apple.ie
46         lucas.mancini@yahoo.it
47        johavanderberg@yahoo.nl
48         stanisław.wójcik@wp.pl
49         enrique_munoz@yahoo.es
50      joakim.johansson@yahoo.se
51         emma_jones@hotmail.com
52          phil.hughes@gmail.com
53          steve.murray@yahoo.uk
54           mark.taylor@yahoo.au
55       diego.gutierrez@yahoo.ar
56             luisrojas@yahoo.cl
57        manoj.pareek@rediff.com
58       puja_srivastava@yahoo.in

In [3]:
#Muestra la columna FirstName
consulta_FirstName = "SELECT FirstName From Customer;"
resultado_FirstName = ejecutar_consulta(consulta_FirstName)
print("Consulta 2: Columna FirstName")
print(resultado_FirstName)

Consulta 2: Columna FirstName
    FirstName
0        Luís
1      Leonie
2    François
3       Bjørn
4   František
5      Helena
6      Astrid
7        Daan
8        Kara
9     Eduardo
10  Alexandre
11    Roberto
12   Fernanda
13       Mark
14   Jennifer
15      Frank
16       Jack
17   Michelle
18        Tim
19        Dan
20      Kathy
21    Heather
22       John
23      Frank
24     Victor
25    Richard
26    Patrick
27      Julia
28     Robert
29     Edward
30     Martha
31      Aaron
32      Ellie
33       João
34   Madalena
35     Hannah
36       Fynn
37     Niklas
38    Camille
39  Dominique
40       Marc
41      Wyatt
42   Isabelle
43      Terhi
44   Ladislav
45       Hugh
46      Lucas
47   Johannes
48  Stanisław
49    Enrique
50     Joakim
51       Emma
52       Phil
53      Steve
54       Mark
55      Diego
56       Luis
57      Manoj
58       Puja

In [4]:
#Muestra las columnas FirstName y LastName.
consulta_Nombres = "SELECT FirstName, LastName From Customer;"
resultado_Nombres = ejecutar_consulta(consulta_Nombres)
print("Consulta 3: Columnas FirstName y LastName")
print(resultado_Nombres)

Consulta 3: Columnas FirstName y LastName
    FirstName      LastName
0        Luís     Gonçalves
1      Leonie        Köhler
2    François      Tremblay
3       Bjørn        Hansen
4   František   Wichterlová
5      Helena          Holý
6      Astrid        Gruber
7        Daan       Peeters
8        Kara       Nielsen
9     Eduardo       Martins
10  Alexandre         Rocha
11    Roberto       Almeida
12   Fernanda         Ramos
13       Mark       Philips
14   Jennifer      Peterson
15      Frank        Harris
16       Jack         Smith
17   Michelle        Brooks
18        Tim         Goyer
19        Dan        Miller
20      Kathy         Chase
21    Heather       Leacock
22       John        Gordon
23      Frank       Ralston
24     Victor       Stevens
25    Richard    Cunningham
26    Patrick          Gray
27      Julia       Barnett
28     Robert         Brown
29     Edward       Francis
30     Martha          Silk
31      Aaron      Mitchell
32      Ellie      Sullivan
33       João     Fernandes
34   Madalena       Sampaio
35     Hannah     Schneider
36       Fynn    Zimmermann
37     Niklas      Schröder
38    Camille       Bernard
39  Dominique      Lefebvre
40       Marc        Dubois
41      Wyatt        Girard
42   Isabelle       Mercier
43      Terhi    Hämäläinen
44   Ladislav        Kovács
45       Hugh      O'Reilly
46      Lucas       Mancini
47   Johannes  Van der Berg
48  Stanisław        Wójcik
49    Enrique         Muñoz
50     Joakim     Johansson
51       Emma         Jones
52       Phil        Hughes
53      Steve        Murray
54       Mark        Taylor
55      Diego     Gutiérrez
56       Luis         Rojas
57      Manoj        Pareek
58       Puja    Srivastava

In [5]:
#Muestra las columnas Address, Phone y Fax.
consulta_Contacto = "SELECT Address, Phone, Fax From Customer;"
resultado_Contacto = ejecutar_consulta(consulta_Contacto)
print("Consulta 4: Columnas Address, Phone y Fax")
print(resultado_Contacto)

Consulta 4: Columnas Address, Phone y Fax
                                     Address                Phone  \
0            Av. Brigadeiro Faria Lima, 2170   +55 (12) 3923-5555
1                    Theodor-Heuss-Straße 34     +49 0711 2842222
2                          1498 rue Bélanger    +1 (514) 721-4711
3                           Ullevålsveien 14      +47 22 44 22 22
4                              Klanova 9/506     +420 2 4172 5555
5                              Rilská 3174/6     +420 2 4177 0449
6       Rotenturmstraße 4, 1010 Innere Stadt       +43 01 5134505
7                            Grétrystraat 63     +32 02 219 03 03
8                        Sønder Boulevard 51       +453 3331 9991
9                  Rua Dr. Falcão Filho, 155   +55 (11) 3033-5446
10                        Av. Paulista, 2022   +55 (11) 3055-3278
11                          Praça Pio X, 119   +55 (21) 2271-7000
12                              Qe 7 Bloco G   +55 (61) 3363-5547
13                            8210 111 ST NW    +1 (780) 434-4554
14                       700 W Pender Street    +1 (604) 688-2255
15                 1600 Amphitheatre Parkway    +1 (650) 253-0000
16                           1 Microsoft Way    +1 (425) 882-8080
17                              627 Broadway    +1 (212) 221-3546
18                           1 Infinite Loop    +1 (408) 996-1010
19                      541 Del Medio Avenue    +1 (650) 644-3358
20                          801 W 4th Street    +1 (775) 223-7665
21                          120 S Orange Ave    +1 (407) 999-7788
22                           69 Salem Street    +1 (617) 522-1333
23                     162 E Superior Street    +1 (312) 332-3232
24                     319 N. Frances Street    +1 (608) 257-0597
25                       2211 W Berry Street    +1 (817) 924-7272
26                           1033 N Park Ave    +1 (520) 622-4200
27                               302 S 700 E    +1 (801) 531-7272
28                    796 Dundas Street West    +1 (416) 363-8888
29                          230 Elgin Street    +1 (613) 234-3322
30                     194A Chain Lake Drive    +1 (902) 450-0450
31                        696 Osborne Street    +1 (204) 452-6452
32                            5112 48 Street    +1 (867) 920-2233
33                        Rua da Assunção 53   +351 (213) 466-111
34  Rua dos Campeões Europeus de Viena, 4350   +351 (225) 022-448
35                        Tauentzienstraße 8     +49 030 26550280
36                          Berger Straße 10     +49 069 40598889
37                       Barbarossastraße 19      +49 030 2141444
38                             4, Rue Milton   +33 01 49 70 65 65
39                            8, Rue Hanovre   +33 01 47 42 71 71
40                       11, Place Bellecour   +33 04 78 30 30 30
41                    9, Place Louis Barthou   +33 05 56 96 96 96
42                          68, Rue Jouvence   +33 03 80 73 66 99
43                           Porthaninkatu 9     +358 09 870 2000
44                         Erzsébet krt. 58.                 None
45                          3 Chatham Street      +353 01 6792424
46                    Via Degli Scipioni, 43      +39 06 39733434
47                     Lijnbaansgracht 120bg      +31 020 6223130
48                              Ordynacka 10     +48 22 828 37 39
49                        C/ San Bernardo 85      +34 914 454 454
50                               Celsiusg. 9     +46 08-651 52 52
51                         202 Hoxton Street    +44 020 7707 0707
52                              113 Lupus St    +44 020 7976 5722
53                            110 Raeburn Pl    +44 0131 315 3300
54                         421 Bourke Street   +61 (02) 9332 3633
55                        307 Macacha Güemes  +54 (0)11 4311 4333
56                           Calle Lira, 198    +56 (0)2 635 4444
57                       12,Community Centre    +91 0124 39883988
58                         3,Raj Bhavan Road     +91 080 22289999

                   Fax
0   +55 (12) 3923-5566
1                 None
2                 None
3                 None
4     +420 2 4172 5555
5                 None
6                 None
7                 None
8                 None
9   +55 (11) 3033-4564
10  +55 (11) 3055-8131
11  +55 (21) 2271-7070
12  +55 (61) 3363-7855
13   +1 (780) 434-5565
14   +1 (604) 688-8756
15   +1 (650) 253-0000
16   +1 (425) 882-8081
17   +1 (212) 221-4679
18   +1 (408) 996-1011
19                None
20                None
21                None
22                None
23                None
24                None
25                None
26                None
27                None
28                None
29                None
30                None
31                None
32                None
33                None
34                None
35                None
36                None
37                None
38                None
39                None
40                None
41                None
42                None
43                None
44                None
45                None
46                None
47                None
48                None
49                None
50                None
51                None
52                None
53                None
54                None
55                None
56                None
57                None
58                None

In [6]:
#Muestra todas las columnas.
consulta_todas_columnas = "SELECT * From Customer;"
resultado_todas_columnas = ejecutar_consulta(consulta_todas_columnas)
print("Consulta 4: Todas las columnas")
print(resultado_todas_columnas)

Consulta 4: Todas las columnas
    CustomerId  FirstName      LastName  \
0            1       Luís     Gonçalves
1            2     Leonie        Köhler
2            3   François      Tremblay
3            4      Bjørn        Hansen
4            5  František   Wichterlová
5            6     Helena          Holý
6            7     Astrid        Gruber
7            8       Daan       Peeters
8            9       Kara       Nielsen
9           10    Eduardo       Martins
10          11  Alexandre         Rocha
11          12    Roberto       Almeida
12          13   Fernanda         Ramos
13          14       Mark       Philips
14          15   Jennifer      Peterson
15          16      Frank        Harris
16          17       Jack         Smith
17          18   Michelle        Brooks
18          19        Tim         Goyer
19          20        Dan        Miller
20          21      Kathy         Chase
21          22    Heather       Leacock
22          23       John        Gordon
23          24      Frank       Ralston
24          25     Victor       Stevens
25          26    Richard    Cunningham
26          27    Patrick          Gray
27          28      Julia       Barnett
28          29     Robert         Brown
29          30     Edward       Francis
30          31     Martha          Silk
31          32      Aaron      Mitchell
32          33      Ellie      Sullivan
33          34       João     Fernandes
34          35   Madalena       Sampaio
35          36     Hannah     Schneider
36          37       Fynn    Zimmermann
37          38     Niklas      Schröder
38          39    Camille       Bernard
39          40  Dominique      Lefebvre
40          41       Marc        Dubois
41          42      Wyatt        Girard
42          43   Isabelle       Mercier
43          44      Terhi    Hämäläinen
44          45   Ladislav        Kovács
45          46       Hugh      O'Reilly
46          47      Lucas       Mancini
47          48   Johannes  Van der Berg
48          49  Stanisław        Wójcik
49          50    Enrique         Muñoz
50          51     Joakim     Johansson
51          52       Emma         Jones
52          53       Phil        Hughes
53          54      Steve        Murray
54          55       Mark        Taylor
55          56      Diego     Gutiérrez
56          57       Luis         Rojas
57          58      Manoj        Pareek
58          59       Puja    Srivastava

                                             Company  \
0   Embraer - Empresa Brasileira de Aeronáutica S.A.
1                                               None
2                                               None
3                                               None
4                                   JetBrains s.r.o.
5                                               None
6                                               None
7                                               None
8                                               None
9                                   Woodstock Discos
10                              Banco do Brasil S.A.
11                                            Riotur
12                                              None
13                                             Telus
14                                     Rogers Canada
15                                       Google Inc.
16                             Microsoft Corporation
17                                              None
18                                        Apple Inc.
19                                              None
20                                              None
21                                              None
22                                              None
23                                              None
24                                              None
25                                              None
26                                              None
27                                              None
28                                              None
29                                              None
30                                              None
31                                              None
32                                              None
33                                              None
34                                              None
35                                              None
36                                              None
37                                              None
38                                              None
39                                              None
40                                              None
41                                              None
42                                              None
43                                              None
44                                              None
45                                              None
46                                              None
47                                              None
48                                              None
49                                              None
50                                              None
51                                              None
52                                              None
53                                              None
54                                              None
55                                              None
56                                              None
57                                              None
58                                              None

                                     Address                 City   State  \
0            Av. Brigadeiro Faria Lima, 2170  São José dos Campos      SP
1                    Theodor-Heuss-Straße 34            Stuttgart    None
2                          1498 rue Bélanger             Montréal      QC
3                           Ullevålsveien 14                 Oslo    None
4                              Klanova 9/506               Prague    None
5                              Rilská 3174/6               Prague    None
6       Rotenturmstraße 4, 1010 Innere Stadt               Vienne    None
7                            Grétrystraat 63             Brussels    None
8                        Sønder Boulevard 51           Copenhagen    None
9                  Rua Dr. Falcão Filho, 155            São Paulo      SP
10                        Av. Paulista, 2022            São Paulo      SP
11                          Praça Pio X, 119       Rio de Janeiro      RJ
12                              Qe 7 Bloco G             Brasília      DF
13                            8210 111 ST NW             Edmonton      AB
14                       700 W Pender Street            Vancouver      BC
15                 1600 Amphitheatre Parkway        Mountain View      CA
16                           1 Microsoft Way              Redmond      WA
17                              627 Broadway             New York      NY
18                           1 Infinite Loop            Cupertino      CA
19                      541 Del Medio Avenue        Mountain View      CA
20                          801 W 4th Street                 Reno      NV
21                          120 S Orange Ave              Orlando      FL
22                           69 Salem Street               Boston      MA
23                     162 E Superior Street              Chicago      IL
24                     319 N. Frances Street              Madison      WI
25                       2211 W Berry Street           Fort Worth      TX
26                           1033 N Park Ave               Tucson      AZ
27                               302 S 700 E       Salt Lake City      UT
28                    796 Dundas Street West              Toronto      ON
29                          230 Elgin Street               Ottawa      ON
30                     194A Chain Lake Drive              Halifax      NS
31                        696 Osborne Street             Winnipeg      MB
32                            5112 48 Street          Yellowknife      NT
33                        Rua da Assunção 53               Lisbon    None
34  Rua dos Campeões Europeus de Viena, 4350                Porto    None
35                        Tauentzienstraße 8               Berlin    None
36                          Berger Straße 10            Frankfurt    None
37                       Barbarossastraße 19               Berlin    None
38                             4, Rue Milton                Paris    None
39                            8, Rue Hanovre                Paris    None
40                       11, Place Bellecour                 Lyon    None
41                    9, Place Louis Barthou             Bordeaux    None
42                          68, Rue Jouvence                Dijon    None
43                           Porthaninkatu 9             Helsinki    None
44                         Erzsébet krt. 58.             Budapest    None
45                          3 Chatham Street               Dublin  Dublin
46                    Via Degli Scipioni, 43                 Rome      RM
47                     Lijnbaansgracht 120bg            Amsterdam      VV
48                              Ordynacka 10               Warsaw    None
49                        C/ San Bernardo 85               Madrid    None
50                               Celsiusg. 9            Stockholm    None
51                         202 Hoxton Street               London    None
52                              113 Lupus St               London    None
53                            110 Raeburn Pl           Edinburgh     None
54                         421 Bourke Street               Sidney     NSW
55                        307 Macacha Güemes         Buenos Aires    None
56                           Calle Lira, 198             Santiago    None
57                       12,Community Centre                Delhi    None
58                         3,Raj Bhavan Road            Bangalore    None

           Country  PostalCode                Phone                 Fax  \
0           Brazil   12227-000   +55 (12) 3923-5555  +55 (12) 3923-5566
1          Germany       70174     +49 0711 2842222                None
2           Canada     H2G 1A7    +1 (514) 721-4711                None
3           Norway        0171      +47 22 44 22 22                None
4   Czech Republic       14700     +420 2 4172 5555    +420 2 4172 5555
5   Czech Republic       14300     +420 2 4177 0449                None
6          Austria        1010       +43 01 5134505                None
7          Belgium        1000     +32 02 219 03 03                None
8          Denmark        1720       +453 3331 9991                None
9           Brazil   01007-010   +55 (11) 3033-5446  +55 (11) 3033-4564
10          Brazil   01310-200   +55 (11) 3055-3278  +55 (11) 3055-8131
11          Brazil   20040-020   +55 (21) 2271-7000  +55 (21) 2271-7070
12          Brazil   71020-677   +55 (61) 3363-5547  +55 (61) 3363-7855
13          Canada     T6G 2C7    +1 (780) 434-4554   +1 (780) 434-5565
14          Canada     V6C 1G8    +1 (604) 688-2255   +1 (604) 688-8756
15             USA  94043-1351    +1 (650) 253-0000   +1 (650) 253-0000
16             USA  98052-8300    +1 (425) 882-8080   +1 (425) 882-8081
17             USA  10012-2612    +1 (212) 221-3546   +1 (212) 221-4679
18             USA       95014    +1 (408) 996-1010   +1 (408) 996-1011
19             USA   94040-111    +1 (650) 644-3358                None
20             USA       89503    +1 (775) 223-7665                None
21             USA       32801    +1 (407) 999-7788                None
22             USA        2113    +1 (617) 522-1333                None
23             USA       60611    +1 (312) 332-3232                None
24             USA       53703    +1 (608) 257-0597                None
25             USA       76110    +1 (817) 924-7272                None
26             USA       85719    +1 (520) 622-4200                None
27             USA       84102    +1 (801) 531-7272                None
28          Canada     M6J 1V1    +1 (416) 363-8888                None
29          Canada     K2P 1L7    +1 (613) 234-3322                None
30          Canada     B3S 1C5    +1 (902) 450-0450                None
31          Canada     R3L 2B9    +1 (204) 452-6452                None
32          Canada     X1A 1N6    +1 (867) 920-2233                None
33        Portugal        None   +351 (213) 466-111                None
34        Portugal        None   +351 (225) 022-448                None
35         Germany       10789     +49 030 26550280                None
36         Germany       60316     +49 069 40598889                None
37         Germany       10779      +49 030 2141444                None
38          France       75009   +33 01 49 70 65 65                None
39          France       75002   +33 01 47 42 71 71                None
40          France       69002   +33 04 78 30 30 30                None
41          France       33000   +33 05 56 96 96 96                None
42          France       21000   +33 03 80 73 66 99                None
43         Finland       00530     +358 09 870 2000                None
44         Hungary      H-1073                 None                None
45         Ireland        None      +353 01 6792424                None
46           Italy       00192      +39 06 39733434                None
47     Netherlands        1016      +31 020 6223130                None
48          Poland      00-358     +48 22 828 37 39                None
49           Spain       28015      +34 914 454 454                None
50          Sweden       11230     +46 08-651 52 52                None
51  United Kingdom      N1 5LH    +44 020 7707 0707                None
52  United Kingdom    SW1V 3EN    +44 020 7976 5722                None
53  United Kingdom     EH4 1HH    +44 0131 315 3300                None
54       Australia        2010   +61 (02) 9332 3633                None
55       Argentina        1106  +54 (0)11 4311 4333                None
56           Chile        None    +56 (0)2 635 4444                None
57           India      110017    +91 0124 39883988                None
58           India      560001     +91 080 22289999                None

                            Email  SupportRepId
0            luisg@embraer.com.br             3
1           leonekohler@surfeu.de             5
2             ftremblay@gmail.com             3
3           bjorn.hansen@yahoo.no             4
4        frantisekw@jetbrains.com             4
5                 hholy@gmail.com             5
6          astrid.gruber@apple.at             5
7           daan_peeters@apple.be             4
8           kara.nielsen@jubii.dk             4
9        eduardo@woodstock.com.br             4
10               alero@uol.com.br             5
11  roberto.almeida@riotur.gov.br             3
12       fernadaramos4@uol.com.br             4
13             mphilips12@shaw.ca             5
14            jenniferp@rogers.ca             3
15             fharris@google.com             4
16        jacksmith@microsoft.com             5
17              michelleb@aol.com             3
18               tgoyer@apple.com             3
19            dmiller@comcast.com             4
20            kachase@hotmail.com             5
21             hleacock@gmail.com             4
22         johngordon22@yahoo.com             4
23             fralston@gmail.com             3
24             vstevens@yahoo.com             5
25       ricunningham@hotmail.com             4
26           patrick.gray@aol.com             4
27            jubarnett@gmail.com             5
28               robbrown@shaw.ca             3
29            edfrancis@yachoo.ca             3
30           marthasilk@gmail.com             5
31         aaronmitchell@yahoo.ca             4
32         ellie.sullivan@shaw.ca             3
33            jfernandes@yahoo.pt             4
34              masampaio@sapo.pt             4
35      hannah.schneider@yahoo.de             5
36           fzimmermann@yahoo.de             3
37            nschroder@surfeu.de             3
38       camille.bernard@yahoo.fr             4
39    dominiquelefebvre@gmail.com             4
40        marc.dubois@hotmail.com             5
41          wyatt.girard@yahoo.fr             3
42      isabelle_mercier@apple.fr             3
43      terhi.hamalainen@apple.fi             3
44       ladislav_kovacs@apple.hu             3
45           hughoreilly@apple.ie             3
46         lucas.mancini@yahoo.it             5
47        johavanderberg@yahoo.nl             5
48         stanisław.wójcik@wp.pl             4
49         enrique_munoz@yahoo.es             5
50      joakim.johansson@yahoo.se             5
51         emma_jones@hotmail.com             3
52          phil.hughes@gmail.com             3
53          steve.murray@yahoo.uk             5
54           mark.taylor@yahoo.au             4
55       diego.gutierrez@yahoo.ar             4
56             luisrojas@yahoo.cl             5
57        manoj.pareek@rediff.com             3
58       puja_srivastava@yahoo.in             3

In [7]:
Actividad 3-1 (Ordenando a mi manera)

Ordena la tabla de géneros (Genre) por orden alfabético.
Corta los resultados para que solo se muestren los 6 primeros.
Subir Nota:

Muestra las últimas 2 filas de la tabla.

SyntaxError: invalid syntax (1882511807.py, line 1)

In [ ]:
#Ordena la tabla de géneros (Genre) por orden alfabético, corta los resultados para que solo se muestren los 6 primeros.
consulta1 = "Select * FROM Genre ORDER BY Name ASC LIMIT 6;"
resultado1 = ejecutar_consulta(consulta1)
print("Consulta 1: Primeros 6 Generos ordenados alfabeticamente")
print(resultado1)

In [ ]:
consulta2 = "Select * FROM Genre ORDER BY Name DESC LIMIT 2;"
resultado2 = ejecutar_consulta(consulta2)
print("Consulta 2: Muestra las últimas 2 filas de la tabla.")
print(resultado2)

In [ ]:
Actividad 3-2 (En busca del peor cliente)

Volvemos a usar la tabla Customer.

Muestra los usuarios que han reportado más de 3 incidencia (columna donde se cuentan es SupportRepid)
Filtra los resultados anteriores por los que viven en Brasil.
Muestra a los usuarios que tengan un código postal empezado en 7.
Muestra a los usuarios que tengan un email de hotmail.
Muestra los usuarios nacidos en Estados Unidos (USA) o Canadá (Canada).
De los resultados anteriores, muestra los que tengan un email de gmail.
Muestra al usuario que trabaja en Apple (columna Company). Te aviso que no sabes el formato de la compañía, podría ser: Apple SL, Company Apple, APPLE…
Muestra los usuario que han reportado entre 3 y 4 incidencias.

In [ ]:
#Muestra los usuarios que han reportado más de 3 incidencia (columna donde se cuentan es SupportRepid)
consulta_incidencias = "Select * FROM Customer WHERE SupportRepid > 3 ;"
resultado_incidencias = ejecutar_consulta(consulta_incidencias)
print("Consulta 1 : Usuarios que han reportado mas de 3 incidencias")
print(resultado_incidencias)

In [ ]:
#Filtra los resultados anteriores por los que viven en Brasil.
consulta2 = "SELECT * FROM Customer WHERE Country = 'Brazil' AND SupportRepId > 3;"
resultado2 = ejecutar_consulta(consulta2)
print("Consulta 2 : Usuarios de Brasil que han reportado mas de 3 incidencias")
print(resultado2)

In [ ]:
#Muestra a los usuarios que tengan un código postal empezado en 7.
consulta_codigo = "Select * FROM Customer WHERE PostalCode LIKE '7%' ;"
resultado_codigo = ejecutar_consulta(consulta_codigo)
print("Consulta 2 : usuarios que tengan un código postal empezado en 7.")
print(resultado_codigo)

In [ ]:
#Muestra a los usuarios que tengan un email de hotmail.
consulta_hotmail = "SELECT * FROM Customer WHERE Email Like '%hotmail%' ; "
resultado_hotmail = ejecutar_consulta(consulta_hotmail)
print("Muestra a los usuarios que tengan un email de hotmail")
print(resultado_hotmail)

In [ ]:
#Muestra los usuarios nacidos en Estados Unidos (USA) o Canadá (Canada).
consulta_USA_CANADA = "SELECT * FROM Customer WHERE Country IN ('USA', 'CANADA'); "
resultado_USA_CANADA = ejecutar_consulta(consulta_USA_CANADA)
print("Muestra los usuarios nacidos en Estados Unidos (USA) o Canadá (Canada)")
print(resultado_USA_CANADA)

In [ ]:
#De los resultados anteriores, muestra los que tengan un email de gmail.
consulta6 = "SELECT * FROM Customer WHERE Country IN ('USA', 'CANADA') AND Email LIKE '%gmail%' ; "
resultado6 = ejecutar_consulta(consulta6)
print("De los resultados anteriores, muestra los que tengan un email de gmail.")
print(resultado6)

In [ ]:
#Muestra al usuario que trabaja en Apple (columna Company). Te aviso que no sabes el formato de la compañía, podría ser: Apple SL, Company Apple, APPLE…
consulta_apple = " SELECT * FROM Customer WHERE Company LIKE '%Apple%' ; "
resultado_apple = ejecutar_consulta(consulta_apple)
print("Muestra al usuario que trabaja en Apple")
print(resultado_apple)

In [ ]:
#Muestra los usuario que han reportado entre 3 y 4 incidencias.
consulta_incidencias = " SELECT * FROM Customer WHERE SupportRepId BETWEEN 3 AND 4 ; "
resultado_incidencias = ejecutar_consulta(consulta_incidencias)
print("Muestra los usuario que han reportado entre 3 y 4 incidencias")
print(resultado_incidencias)

In [ ]:
Actividad 3-3 (Limpieza de personal)

Usaremos la tabla Employee (empleados).

Cuenta la cantidad de empleados que hay por ciudad.
Cuenta la cantidad de empleados que hay por departamento.
Subir Nota:

Muestra la edad de cada empleado.
Calcula la media de edad por departamento (Title).
Cuenta los empleados que fueron contratados, de media, por año.

In [ ]:
#Cuenta la cantidad de empleados que hay por ciudad.

consulta_empleados = "SELECT City, COUNT(*) FROM Employee GROUP BY City ; "
resultado_empleados = ejecutar_consulta(consulta_empleados)

print("Consulta 1 : Cuenta la cantidad de empleados que hay por ciudad")
print(resultado_empleados)

In [ ]:
#Cuenta la cantidad de empleados que hay por departamento.
consulta_empleados2 = "SELECT Title, COUNT(*) FROM Employee GROUP BY Title ; "
resultado_empleados2 = ejecutar_consulta(consulta_empleados2)

print("Consulta 2 : Cuenta la cantidad de empleados que hay por ciudad")
print(resultado_empleados2)

In [ ]:
Actividad 4-1 (Experto en canciones)

Volvemos a usar la tabla Track (canción).

Muestra todas las canciones con el MediaType Protected AAC audio file.
Muestra todas las canciones que contengan algún MediaType con AAC.
Muestra todas las canciones que duren más de 2 minutos.
Muestra todas las canciones de Jazz.
Averigua cual es la canción más pesada.
Subir Nota:

¿Cuantos discos tiene Led Zeppelin?
De entre sus discos, ¿cuanto cuesta el disco Houses Of The Holy?

In [ ]:
#Muestra todas las canciones con el MediaType Protected AAC audio file.

consulta_canciones = "SELECT * FROM Track JOIN MediaType ON Track.MediaTypeId = MediaType.MediaTypeId WHERE MediaType.Name = 'Protected AAC audio file' ; "
resultado_canciones = ejecutar_consulta(consulta_canciones)

print("Consulta 1 : Muestra todas las canciones con el MediaType Protected AAC audio file")
print(resultado_canciones)

In [ ]:
#Muestra todas las canciones que contengan algún MediaType con AAC.
consulta_canciones2 = "SELECT * FROM Track JOIN MediaType ON Track.MediaTypeId = MediaType.MediaTypeId WHERE MediaType.Name LIKE '%AAC%' ; "
resultado_canciones2 = ejecutar_consulta(consulta_canciones2)

print("Consulta 2 : Muestra todas las canciones que contengan algún MediaType con AAC:")
print(resultado_canciones2)

In [ ]:
#Muestra todas las canciones que duren más de 2 minutos.
consulta_canciones3 = "SELECT * FROM Track WHERE Milliseconds > 120000 ; "
resultado_canciones3 = ejecutar_consulta(consulta_canciones3)

print("Consulta 3 : Muestra todas las canciones que duren más de 2 minutos:")
print(resultado_canciones3)

In [ ]:
#Muestra todas las canciones de Jazz.

consulta_canciones4 = "SELECT * FROM Track JOIN Genre ON Track.GenreId = Genre.GenreId WHERE Genre.Name = 'Jazz' ; "
resultado_canciones4 = ejecutar_consulta(consulta_canciones4)

print("Consulta 4 : Muestra todas las canciones de Jazz.:")
print(resultado_canciones4)

In [ ]:
#Averigua cual es la canción más pesada.

consulta_canciones5 = "SELECT * FROM Track ORDER BY Bytes DESC LIMIT 1 ; "
resultado_canciones5 = ejecutar_consulta(consulta_canciones5)

print("Consulta 5 : Averigua cual es la canción más pesada:")
print(resultado_canciones5)

In [ ]:
#¿Cuantos discos tiene Led Zeppelin?

consulta_discos = "SELECT * FROM Album JOIN Artist ON Album.ArtistId = Artist.ArtistId WHERE Artist.Name = 'Led Zeppelin' ;"
resultado_discos = ejecutar_consulta(consulta_discos)

print("Consulta discos : ¿Cuantos discos tiene Led Zeppelin?:")
print(resultado_discos)

In [ ]:
#De entre sus discos, ¿cuanto cuesta el disco Houses Of The Holy?

consulta_discos = "SELECT SUM(Track.UnitPrice) AS TotalPrice FROM Track JOIN Album ON Track.AlbumId = Album.AlbumId JOIN Artist ON Album.ArtistId = Artist.ArtistId WHERE Artist.Name = 'Led Zeppelin' AND Album.Title = 'Houses Of The Holy' ;"
resultado_discos = ejecutar_consulta(consulta_discos)

print("Consulta discos : ¿cuanto cuesta el disco Houses Of The Holy?:")
print(resultado_discos)

In [ ]:
Actividad 5-1 (Solo compañías)

De la tabla Customer crea una vista llamada Customer_with_companies, donde estarán incluidos todos los resultados salvo cuando Company sea NULL. A partir de la vista realiza las siguientes acciones.

Ordena los resultados por orden alfabético de Company.
Muestra que compañías son de Brazil.

In [ ]:
#eliminamos la vista porque me pone que ya existe cuando ejecuto
consulta_compañias = "DROP VIEW IF EXISTS Customer_with_companies"
cursor.execute(consulta_compañias)
con.commit()

In [ ]:
#De la tabla Customer crea una vista llamada Customer_with_companies, donde estarán incluidos todos los resultados salvo cuando Company sea NULL. A partir de la vista realiza las siguientes acciones.

consulta_compañias = "CREATE VIEW Customer_with_companies AS SELECT * FROM Customer WHERE Company IS NOT NULL;"
cursor.execute(consulta_compañias)
con.commit()

In [ ]:
#Ordena los resultados por orden alfabético de Company.
consulta_compañias = "SELECT * FROM Customer_with_companies ORDER BY Company ASC;"
resultado_compañias = ejecutar_consulta(consulta_compañias)

print("Ordena los resultados por orden alfabético de Company.")
print(resultado_compañias)

In [ ]:
#Muestra que compañías son de Brazil.

consulta_compañias = "SELECT * FROM Customer_with_companies WHERE Country = 'Brazil'"
resultado_compañias = ejecutar_consulta(consulta_compañias)

print("#Muestra que compañías son de Brazil.")
print(resultado_compañias)

In [ ]:
Actividad 6-1 (Dame la factura)

De la tabla Track, consigue la siguiente información.

Cual es el título de la canción que menos pesa (Bytes).
Cual es el título de la canción que más dura (Miliseconds).
Cuantas canciones cuestan 1$ o más.
Cuantas canciones hay de Queen.
Cual es la media de duración entre todas las canciones.
Cual es la media de peso entre todas las canciones de U2.
Cuantas canciones esta Bill Berry como Composer (Compositor).
Un Mb son: Bite / 1024 / 1024. Muestra todos los Tracks calculando, y renombrando, la columna Bytes en Mb.

In [ ]:
#Cual es el título de la canción que menos pesa (Bytes).
consulta = "SELECT Name FROM Track ORDER BY Bytes ASC LIMIT 1"
resultado_consulta = ejecutar_consulta(consulta)

print("Cual es el título de la canción que menos pesa (Bytes)")
print(resultado_consulta)

In [ ]:
#Cual es el título de la canción que más dura (Miliseconds).
consulta = "SELECT Name FROM Track ORDER BY Milliseconds DESC LIMIT 1"
resultado_consulta = ejecutar_consulta(consulta)

print("#Cual es el título de la canción que más dura (Miliseconds)")
print(resultado_consulta)

In [ ]:
#Cuantas canciones cuestan 1$ o más.
consulta = "SELECT COUNT(*) FROM Track WHERE UnitPrice >=1"
resultado_consulta = ejecutar_consulta(consulta)

print("Cuantas canciones cuestan 1$ o más.")
print(resultado_consulta)

In [ ]:
#Cuantas canciones hay de Queen.
consulta = "SELECT COUNT(*) FROM Track WHERE AlbumId IN (SELECT AlbumId FROM Album WHERE ArtistId = (SELECT ArtistId From Artist WHERE Name = 'Queen'))"
resultado_consulta = ejecutar_consulta(consulta)

print("Cuantas canciones hay de Queen.")
print(resultado_consulta)

In [ ]:
#Cual es la media de duración entre todas las canciones.
consulta = "SELECT AVG(Milliseconds) AS MediaDuracion FROM Track"
resultado_consulta = ejecutar_consulta(consulta)

print("Cual es la media de duración entre todas las canciones.")
print(resultado_consulta)

In [ ]:
#Cual es la media de peso entre todas las canciones de U2.
consulta = "SELECT AVG(Bytes) AS MediaPeso FROM Track WHERE AlbumId IN (SELECT AlbumId FROM Album WHERE ArtistId = (SELECT ArtistId From Artist WHERE Name = 'U2'))"
resultado_consulta = ejecutar_consulta(consulta)

print("Cual es la media de peso entre todas las canciones de U2")
print(resultado_consulta)

In [ ]:
#Cuantas canciones esta Bill Berry como Composer (Compositor).
consulta = "SELECT COUNT(*) FROM Track WHERE Composer LIKE '%Bill Berry%'"
resultado_consulta = ejecutar_consulta(consulta)

print("Cuantas canciones esta Bill Berry como Composer (Compositor).")
print(resultado_consulta)

In [ ]:
#Un Mb son: Bite / 1024 / 1024. Muestra todos los Tracks calculando, y renombrando, la columna Bytes en Mb.
consulta = "SELECT TrackId, Name, Bytes / 1024.0 / 1024.0 AS SIZE_MB FROM Track"
resultado_consulta = ejecutar_consulta(consulta)

print("Un Mb son: Bite / 1024 / 1024. Muestra todos los Tracks calculando, y renombrando, la columna Bytes en Mb.")
print(resultado_consulta)

In [ ]:
Actividad 7-1 (Buscando facturas)

De la tabla Invoice, consigue la siguiente información.

Muestra: InvoiceId, nombre del cliente y BillingCountry.
Ordena de mayor a menor por Total.
Cual es el país que más a facturado.

In [ ]:
#Muestra: InvoiceId, nombre del cliente y BillingCountry. Ordena de mayor a menor por Total.
consulta = "SELECT Invoice.InvoiceId, (Customer.FirstName || ' ' || Customer.LastName) AS CustomerName, Invoice.BillingCountry FROM Invoice JOIN Customer ON Invoice.CustomerId = Customer.CustomerId ORDER BY Invoice.Total DESC;"
resultado_consulta = ejecutar_consulta(consulta)

print("Muestra: InvoiceId, nombre del cliente y BillingCountry. Ordena de mayor a menor por Total.")
print(resultado_consulta)

In [ ]:
#Cual es el país que más a facturado.
consulta = "SELECT BillingCountry, SUM(Total) AS TotalAmount FROM Invoice GROUP BY BillingCountry ORDER BY TotalAmount DESC LIMIT 1;"
resultado_consulta = ejecutar_consulta(consulta)

print("Cual es el país que más a facturado.")
print(resultado_consulta)

In [ ]:
Actividad 8-1 (Alimentado la productora)

Añade 5 artistas que te gusten en la tabla Artist.
Introduce el MediaType Wav.
Crea 2 discos que estén relacionados con los artistas que has creado.

In [ ]:
#Añade 5 artistas que te gusten en la tabla Artist.

consulta = "INSERT INTO Artist (Name) VALUES ('Pedro Perez'), ('Juan Pisto'), ('Rebeca Primera'), ('Sofia Liarte'), ('Pablo Napoles');"
con.execute(consulta)
print("5 artistas añadidos")

In [ ]:
#Introduce el MediaType Wav
consulta = "INSERT INTO MediaType (Name) VALUES ('Wav')"
con.execute(consulta)
print("Introduce el MediaType Wav")

In [ ]:
#Crea 2 discos que estén relacionados con los artistas que has creado.
consulta = "INSERT INTO Album (Title, ArtistId) VALUES ('Album Rock', 348), ('Album Pop', 349)"
con.execute(consulta)
print("2 albums añadidos")

In [ ]:
Actividad 9-1 (Artistas desaparecidos)

Volvemos a usar la tabla Artist (canción). (usa PRAGMA foreign_keys = OFF para desactivar la comprobación)

Borra a U2.
Borra los artistas que tengan en su nombre el símbolo &.
Borra los artistas con una Id entre 201 y 230.
Borra toda la tabla de Track.

In [ ]:
#usa PRAGMA foreign_keys = OFF para desactivar la comprobación
con.execute("PRAGMA foreign_keys = OFF;")

In [ ]:
#Borra a U2.
consulta = "DELETE FROM Artist WHERE Name = 'U2';"
con.execute(consulta)
print("Borramos U2")

In [ ]:
#Borra los artistas que tengan en su nombre el símbolo &.
consulta = "DELETE FROM Artist WHERE Name LIKE '%&%';"
con.execute(consulta)
print("Borra los artistas que tengan en su nombre el símbolo &")

In [ ]:
#Borra los artistas con una Id entre 201 y 230.
consulta = "DELETE FROM Artist WHERE Name BETWEEN 201 AND 230;"
con.execute(consulta)
print("Borra los artistas con una Id entre 201 y 230.")

In [ ]:
#Borra toda la tabla de Track.
consulta = "DELETE FROM Track;"
con.execute(consulta)
print("Borra toda la tabla de Track")

In [ ]:
#habilitamos foreing key 
con.execute("PRAGMA foreign_keys = ON;")

In [ ]:
Actividad 10-1 (Se acabaron las rebajas)

Volvemos a usar la tabla Track (canción).

Sube el precio de todas las canciones de 0.99 a 2.99.
Sube el precio de todas las canciones de 1.99 a 4.99.
Cambia el Compositor (Composer) por Sara del TrackId número 2000.
Cambia el Compositor (Composer) por clasico de todas las canciones que empiecen con el nombre Concerto.

In [ ]:
#Sube el precio de todas las canciones de 0.99 a 2.99.
consulta = "UPDATE Track SET UnitPrice = 2.99 WHERE UnitPrice = 0.99;"
con.execute(consulta)
con.commit()
print("Sube el precio de todas las canciones de 0.99 a 2.99")

In [ ]:
#verificamos la subida
consulta = "SELECT Name, UnitPrice FROM Track WHERE UnitPrice = 2.99;"
print(ejecutar_consulta(consulta))
print("Sube el precio de todas las canciones de 0.99 a 2.99")

In [ ]:
#Sube el precio de todas las canciones de 1.99 a 4.99.
consulta = "UPDATE Track SET UnitPrice = 4.99 WHERE UnitPrice = 1.99;"
con.execute(consulta)
con.commit()
print("Sube el precio de todas las canciones de 1.99 a 4.99.")

In [ ]:
#verificamos la subida
consulta = "SELECT Name, UnitPrice FROM Track WHERE UnitPrice = 4.99;"
print(ejecutar_consulta(consulta))
print("Sube el precio de todas las canciones de 1.99 a 4.99.")

In [ ]:
#Cambia el Compositor (Composer) por Sara del TrackId número 2000.
consulta = "UPDATE Track SET Composer = 'Sara' WHERE TrackId = 2000;"
con.execute(consulta)
con.commit()
print("Cambia el Compositor (Composer) por Sara del TrackId número 2000")

In [ ]:
#Cambia el Compositor (Composer) por clasico de todas las canciones que empiecen con el nombre Concerto.
consulta = "UPDATE Track SET Composer = 'clasico' WHERE Name LIKE '%Concerto%';"
con.execute(consulta)
con.commit()
print("#Cambia el Compositor (Composer) por clasico de todas las canciones que empiecen con el nombre Concerto")

In [ ]:
#cerramos conexion
con.close()